Repository dawidcieszynski/DA-AzurePipelines: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:

# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - src/backend/*
      - azure-pipelines-backend.yml

pool:
  vmImage: 'windows-latest'

steps:
  - task: DotNetCoreCLI@2
    displayName: 'dotnet restore'
    inputs:
      command: restore
      projects: src/backend/ToDoList.sln

  - task: DotNetCoreCLI@2
    displayName: 'dotnet build'
    inputs:
      projects: src/backend/ToDoList.sln
      arguments: '--configuration Release'

  - task: DotNetCoreCLI@2
    displayName: 'dotnet test'
    inputs:
      command: test
      projects: '**/*.UnitTests.csproj'
      arguments: '--configuration Release --collect "Code coverage"'

  - task: DotNetCoreCLI@2
    displayName: 'dotnet publish'
    inputs:
      command: publish
      publishWebProjects: false
      projects: src/backend/ToDoList.WebApi/ToDoList.WebApi.csproj
      arguments: '--configuration Release -o $(Build.ArtifactStagingDirectory)/backend'

  - task: CmdLine@2
    inputs:
      script: 'dotnet tool install --global dotnet-ef'

  - task: CmdLine@2
    inputs:
      script: 'dotnet ef migrations script -i -o %BUILD_ARTIFACTSTAGINGDIRECTORY%\migrate\scripts.sql --project src/backend/ToDoList.EntityFramework/ToDoList.EntityFramework.csproj --startup-project src/backend/ToDoList.WebApi/ToDoList.WebApi.csproj'
  
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)/backend'
      artifact: 'backend'
      publishLocation: 'pipeline'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)\migrate'
      ArtifactName: 'migration-scripts'
      publishLocation: 'Container'

azure-pipelines-frontend.yml:

# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - master
  paths:
    include:
      - src/frontend/*
      - azure-pipelines-frontend.yml

pool:
  vmImage: 'windows-latest'

steps:
  - task: Npm@1
    displayName: 'npm install'
    inputs:
      command: 'install'
      workingDir: 'src/frontend'

  - task: Npm@1
    displayName: 'npm run build'
    inputs:
      command: 'custom'
      workingDir: 'src/frontend'
      customCommand: 'run build -- --prod'

  - task: Npm@1
    displayName: 'npm test-ci'
    inputs:
      command: custom
      workingDir: 'src/frontend'
      verbose: false
      customCommand: 'run test-ci'
    continueOnError: true

  - task: PublishTestResults@2
    displayName: 'Publish Test Results **/TESTS-*.xml'
    inputs:
      testResultsFiles: '**/TESTS-*.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)/src/frontend/junit'
      failTaskOnFailedTests: true

  - task: PublishCodeCoverageResults@1
    displayName: 'Publish code coverage from src/frontend/coverage/ToDoListApp/cobertura-coverage.xml'
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: 'src/frontend/coverage/ToDoListApp/cobertura-coverage.xml'
      failIfCoverageEmpty: true

add displaynames
  azure-pipelines-backend.yml
Due: azure-pipelines-backend.yml

ToDoListApp 2
  src/frontend/src/index.html
Due: azure-pipelines-frontend.yml

Debug log level
  src/backend/ToDoList.WebApi/appsettings.json
Due: azure-pipelines-backend.yml

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

EnvConfigService
  src/frontend/angular.json
  src/frontend/src/app/app.component.ts
  src/frontend/src/app/app.module.ts
  src/frontend/src/app/env-config.service.ts
  src/frontend/src/app/to-do/to-do-items-data-source-real.service.ts
  src/frontend/src/env.json
  src/frontend/src/environments/environment.prod.ts
  src/frontend/src/web.config
Due: azure-pipelines-frontend.yml

$(configuration)
  azure-pipelines-backend.yml
Due: azure-pipelines-backend.yml

fill env.json
  src/frontend/src/env.json
Due: azure-pipelines-frontend.yml
